body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main-container {
    /* border: 1px solid red; */
    padding: 4rem;
}

.container {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    padding: 1rem 2rem 2rem 1rem;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.4);
}

.image-class {
    width: 12rem;
    height: 12rem;
    /* border: 1px solid red; */
    margin-bottom: 1rem;
}

.time-container {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 0.7rem;
    color: gray;
    /* padding-bottom: -1rem; */
}

.song-container1 {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 0.8rem;
    color: gray;
    margin-bottom: 0.5rem;
}

.song-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.sub-song {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 2rem; */
    
    
}

.sub-song p{
    padding-left: 0.1rem;
    padding-top: 0rem;
}

.sub-song h2{
    color: rgb(0, 255, 162);
    margin-top: -0.9rem;
}

.music-buttons {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 2rem;
    margin-top: -0rem;
    margin-bottom: 4rem;
}

.top-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid orangered; */
}

.top-container h4 {
    color: gray;
    font-size: 0.8rem;
}

.container h3 {
    color: black;
    font-size: 0.9rem;
    /* border: 1px solid yellow; */
    margin-top: -0.6rem;
    font-weight: 600;
}

.container p {
    font-weight: 400;
    margin-top: -0.6rem;
    margin-bottom: 1rem;
    font-size: 0.7rem;
}

hr {
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid rgb(227, 224, 224);
}